@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Indie+Flower&display=swap');

.msg {
    background-color: antiquewhite;
    line-height: 1.5em;
    padding: 35px;
    border: solid color #335145;
}
body {
    background-color: #335145;
    font-family: "Indie Flower", Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.subheading {
    font-family: "Indie Flower", "Bradley Hand", sans-serif;
}

h1, h2, h3 {
    font-family: "Lacquer", "Bradley Hand", sans-serif;
}


.home-title{
    font-family: "Indie Flower", "Bradley Hand", sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

.msg h2 {
    font-size: 2.5em;
}

.msg p {
    font-size: 0.8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

header {
    background-color: antiquewhite ;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background {
    height: 725px;
    background-color: antiquewhite ;
}

.logo, .icon {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

nav a {
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    padding: 35px;
}

footer p a:hover {
    text-decoration: underline;
}

.footer-text {
    font-size: 1.2em;

}

nav a,
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
    text-align: center;
    padding: 35px;
}



.book:hover, .join:hover {
    font-size: 0.8em;
    background-color: white;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: black;
    
}

.card-img {
    border: 10px solid antiquewhite;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.icon {
    padding-top: 10px;
}
footer {
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}
