#content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}

.red {
    width: 100%;
    height: 400px;
    background-color:#9B1C31;
}
.yellow {
    width: 100%;
    height: 400px;
    background-color:#FFB000;
}
.green {
    width: 100%;
    height: 400px;
    background-color:#127A5E;
}
.blue {
    width: 100%;
    height: 400px;
    background-color: #2B5F8E;
    grid-column: 3/4;
}


